{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="" src="{% static '/js/index.js' %}" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

    <!-- For drop button in Admin sidebar ONLY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="" src="{% static 'js/index.js' %}" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        /* Button used to open the chat form - fixed at the bottom of the page */
        
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: absolute;
            top: 23px;
            left: 28px;
            height: 50px;
            width: 150px;
        }
        /* The popup chat - hidden by default */
        
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }
        /* Add styles to the form container */
        
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }
        /* Full-width textarea */
        
        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
        }
        /* When the textarea gets focus, do something */
        
        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }
        /* Set a style for the submit/send button */
        
        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }
        /* Add a red background color to the cancel button */
        
        .form-container .cancel {
            background-color: red;
        }
        /* Add some hover effects to buttons */
        
        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }
    </style>

    <script>
        window.onload = function() {

            // chart is for bar chart:

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Total cases of major diseases in major cities of Pakistan"
                },
                axisY: {
                    title: "Billions of Barrels",
                    titleFontColor: "#4F81BC",
                    lineColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    tickColor: "#4F81BC"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [

                    {
                        type: "column",
                        name: "Number of Corona Patients",
                        legendText: "Corona Patients",
                        showInLegend: true,
                        dataPoints: [{
                            label: "Lahore",
                            y: 225670
                        }, {
                            label: "Islamabad",
                            y: 234243
                        }, {
                            label: "Karachi",
                            y: 652342
                        }, {
                            label: "Quetta",
                            y: 1013225
                        }, {
                            label: "Peshawar",
                            y: 932244
                        }]
                    },

                    {
                        type: "column",
                        name: "Number of Blood Pressure Patients",
                        legendText: "Blood Pressure Patients",
                        showInLegend: true,
                        dataPoints: [{
                            label: "Lahore",
                            y: 845353
                        }, {
                            label: "Islamabad",
                            y: 63362
                        }, {
                            label: "Karachi",
                            y: 463333
                        }, {
                            label: "Quetta",
                            y: 35632
                        }, {
                            label: "Peshawar",
                            y: 45214
                        }]
                    },

                    {
                        type: "column",
                        name: "Number of Diabetes Patients",
                        legendText: "Diabetes Patients",
                        showInLegend: true,
                        dataPoints: [{
                            label: "Lahore",
                            y: 225620
                        }, {
                            label: "Islamabad",
                            y: 232243
                        }, {
                            label: "Karachi",
                            y: 652222
                        }, {
                            label: "Quetta",
                            y: 1014335
                        }, {
                            label: "Peshawar",
                            y: 94644
                        }]
                    },

                    {
                        type: "column",
                        name: "Number of Hepatitus Patients",
                        legendText: "Hepatitus Patients",
                        showInLegend: true,
                        dataPoints: [{
                            label: "Lahore",
                            y: 3412
                        }, {
                            label: "Islamabad",
                            y: 34241
                        }, {
                            label: "Karachi",
                            y: 43444
                        }, {
                            label: "Quetta",
                            y: 3535
                        }, {
                            label: "Peshawar",
                            y: 352
                        }]
                    },

                    {
                        type: "column",
                        name: "Number of Heart Patients",
                        legendText: "Heart Patients",
                        showInLegend: true,
                        dataPoints: [{
                            label: "Lahore",
                            y: 22500
                        }, {
                            label: "Islamabad",
                            y: 2443
                        }, {
                            label: "Karachi",
                            y: 5522
                        }, {
                            label: "Quetta",
                            y: 101225
                        }, {
                            label: "Peshawar",
                            y: 93844
                        }]
                    },

                ]
            });
            chart.render();

            function toggleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }

            // chart2 is for pie chart:

            var chart2 = new CanvasJS.Chart("chartContainer2", {
                animationEnabled: true,
                title: {
                    text: "Situation of diseases in Pakistan"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [{
                        y: 39.45,
                        label: "Corona"
                    }, {
                        y: 17.31,
                        label: "Hepatitus"
                    }, {
                        y: 17.06,
                        label: "Cancer"
                    }, {
                        y: 14.91,
                        label: "Kidney Failure"
                    }, {
                        y: 11.26,
                        label: "Others"
                    }]
                }]
            });
            chart2.render();

        }
    </script>

</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">

                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{user}}</li>
                    <li><a href="{% url 'logout' %}">Logout</span></a></li>
                </ul>
            </div>

        </div>
    </nav>



    <div class="wrapper">

        {% include 'BackEndApp/adminSidebar.html' %}

    </div>

    <div class="usableBody" style="box-shadow: 0px 0px 0px 0px rgba(199, 199, 199, 0.2); border-radius: 0px; background-color:transparent;">


        <!-- <button class="open-button" onclick="openPatientForm()">Add Patient</button> -->

        <div class="chat-popup" id="myForm" style="position: absolute; right: 35%; left: 35%; width: 30%; text-align:center; bottom: 5%;">
            <form id="form" name="form1" action="/register/" onsubmit="return validateForm()" enctype="multipart/form-data" method="POST">
                <h2>Add Patient</h2>
                {%csrf_token%}

                <div class="label-text">
                    <!-- <h3 text-align: center>Sign Up</h3> -->
                </div>

                <label class="animate">
              <input
                style="padding-top: 25px"
                name="cnic"
                id="cnic"
                type="text"
                required
              />
              <div class="label-text" name="your-CNIC" >CNIC</div>
            </label>

                <div>
                    <label class="animate">
                <input name="password" id="password" type="password" required />
                <div class="label-text">Password</div>
              </label>
                </div>

                <label class="animate">
              <input name="fname" id="fname" type="text" required />
              <div class="label-text">First Name</div>
            </label>

                <label class="animate">
              <input name="lname" id="lname" type="text" required />
              <div class="label-text">Last Name</div>
            </label>

                <label class="animate">
              <input name="phone" id="phone" type="phone" required />
              <div class="label-text" name="your-phone">Phone</div>
            </label>

                <label class="animate">
              <input name="email" id="email" type="email" required />
              <div class="label-text">E-mail</div>
            </label>

                <label class="animate">
              <input
                name="dob"
                id="dob"
                type="text"
                onfocus="(this.type='date')"
                onfocusout="(this.type='text')"
                required
              />
              <div class="label-text">Date of Birth</div>
            </label>

                <label class="animate">
              <input name="address" id="address" type="text" required />
              <div class="label-text">Address</div>
            </label>

                <label class="">
              <div>
                <input
                  type="file"
                  id="prescription"
                  name="file"
                  style="padding-left: 12%; padding-top: 3%"
                  accept="image/*"
                />
              </div> </label
            ><br />
        
            <button type="submit" class="btn">Register</button>
            <button type="button" class="btn  btn-sm btn-danger" onclick="closePatientForm()">Cancel</button>
          </form>
        </div>
        
        <script>
        function openPatientForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closePatientForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>

        <!-- ************************************************ Add doctor implementation from admin panel -->

<!-- <button class="open-button" onclick="openDoctorForm()" style="left: 188px;">Add Doctor</button> -->

<div class="chat-popup" id="myForm2" style="position: absolute; right: 35%; left: 35%; width: 30%; text-align:center; bottom: 5%;">
    <form id="form" name="form1" action="/registerDoctor/" onsubmit="return validateForm()" enctype="multipart/form-data" method="POST">
        <h2>Add Doctor</h2>
        {%csrf_token%}

        <div class="label-text">
            <!-- <h3 text-align: center>Sign Up</h3> -->
        </div>

        <label class="animate">
      <input
        style="padding-top: 25px"
        name="cnic"
        id="cnic"
        type="text"
        required
      />
      <div class="label-text" name="your-CNIC" >CNIC</div>
    </label>

                <div>
                    <label class="animate">
        <input name="password" id="password" type="password" required />
        <div class="label-text">Password</div>
      </label>
                </div>

                <label class="animate">
      <input name="fname" id="fname" type="text" required />
      <div class="label-text">First Name</div>
    </label>

                <label class="animate">
      <input name="lname" id="lname" type="text" required />
      <div class="label-text">Last Name</div>
    </label>

                <label class="animate">
      <input name="phone" id="phone" type="phone" required />
      <div class="label-text" name="your-phone">Phone</div>
    </label>

                <label class="animate">
      <input name="email" id="email" type="email" required />
      <div class="label-text">E-mail</div>
    </label>

                <label class="animate">
      <input
        name="dob"
        id="dob"
        type="text"
        onfocus="(this.type='date')"
        onfocusout="(this.type='text')"
        required
      />
      <div class="label-text">Date of Birth</div>
    </label>

                <label class="animate">
      <input name="address" id="address" type="text" required />
      <div class="label-text">Address</div>
    </label>

                <label class="">
      <div>
        <input
          type="file"
          id="prescription"
          name="file"
          style="padding-left: 12%; padding-top: 3%"
          accept="image/*"
        />
      </div> </label
    ><br />

    <button type="submit" class="btn">Register</button>
    <button type="button" class="btn  btn-sm btn-danger" onclick="closeDoctorForm()">Cancel</button>
  </form>
</div>
      </div> </label><br />

                <button type="submit" class="btn">Register</button>
                <button type="button" class="btn cancel" onclick="closeDoctorForm()">Cancel</button>
            </form>
        </div>

        <script>
            function openDoctorForm() {
                document.getElementById("myForm2").style.display = "block";
            }

            function closeDoctorForm() {
                document.getElementById("myForm2").style.display = "none";
            }
        </script>

        <!-- ********************************************************** Add hospital from Admin panel -->

        <!-- <button class="open-button" onclick="openHospitalForm()" style="left: 350px;">Add Hospital</button> -->

        <div class="chat-popup" id="myForm3" style="position: absolute; right: 35%; left: 35%; width: 30%; text-align:center; bottom: 5%;">
            <form id="form" name="form1" action="/registerHospital/" onsubmit="return validateForm()" enctype="multipart/form-data" method="POST">
                <h2>Add Hospital</h2>
                {%csrf_token%}


                <label class="animate">
                <input name="name" id="name" type="text" required />
                <div class="label-text">Name</div>
              </label>

                <div>
                    <label class="animate">
            <input name="password" id="password" type="password" required />
            <div class="label-text">Password</div>
          </label>
                </div>


                <label class="animate">
                <input name="licenseNo" id="licenseNo" type="text" required />
                <div class="label-text">license Number</div>
              </label>


                <label class="animate">
            <input name="branchCode" id="branchCode" type="text" required />
            <div class="label-text">Branch Code</div>
          </label>


                <label class="animate">
          <input name="city" id="city" type="text" required />
          <div class="label-text">City</div>
        </label>



                <button type="submit" class="btn">Register</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="closeHospitalForm()">Cancel</button>
            </form>
        </div>

        <script>
            function openHospitalForm() {
                document.getElementById("myForm3").style.display = "block";
                clicked = true;
            }

            function closeHospitalForm() {
                document.getElementById("myForm3").style.display = "none";
                clicked = false;
            }
        </script>



        <!-- ********************************************************** Add laboratory from Admin panel  -->

        <!-- <button class="open-button" onclick="openLabForm()" style="left: 510px;">Add Laboratory</button> -->

        <div class="chat-popup" id="myForm4" style="position: absolute; right: 35%; left: 35%; width: 30%; text-align:center; bottom: 5%;">
            <form id="form" name="form1" action="/registerHospital/" onsubmit="return validateForm()" enctype="multipart/form-data" method="POST">
                <h2>Add Hospital</h2>
                {%csrf_token%}


                <label class="animate">
             <input name="name" id="name" type="text" required />
             <div class="label-text">Name</div>
           </label>

                <div>
                    <label class="animate">
         <input name="password" id="password" type="password" required />
         <div class="label-text">Password</div>
       </label>
                </div>


                <label class="animate">
             <input name="licenseNo" id="licenseNo" type="text" required />
             <div class="label-text">license Number</div>
           </label>


                <label class="animate">
         <input name="branchCode" id="branchCode" type="text" required />
         <div class="label-text">Branch Code</div>
       </label>


                <label class="animate">
       <input name="city" id="city" type="text" required />
       <div class="label-text">City</div>
     </label>



                <button type="submit" class="btn">Register</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="closeLabForm()">Cancel</button>
            </form>
        </div>

        <script>
            function openLabForm() {
                document.getElementById("myForm4").style.display = "block";
                clicked = true;
            }

            function closeLabForm() {
                document.getElementById("myForm4").style.display = "none";
                clicked = false;
            }
        </script>




    </div>
    </div>


    <!-- code for histogram -->
    <div id="chartContainer" style="position: absolute; height: 50%; width: 80%; top: 90%; left: 16.8%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- code for pie chart -->
    <div id="chartContainer2" style="position: absolute; height: 50%; width: 30%; top: 25%; left: 16.8%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>