{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="" src="{% static '/js/index.js' %}" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">

                <ul class="nav navbar-nav float-left ml-auto">
                    <li><a href="{% url 'logout' %}">Logout</span></a></li>
                </ul>
            </div>

        </div>
    </nav>



    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'feed' %}"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            </ul>

        </div>

    </div>

    <div class="usableBody" style="box-shadow: 0px 0px 0px 0px rgba(199, 199, 199, 0.2); border-radius: 0px; background-color:transparent;">
        <div class="createAccount" style="left: 4%;">
            <div>
                <form id="form" action="/register/" enctype="multipart/form-data" method="POST">
                    {%csrf_token%}
                    <div class="label-text" style="padding-left: 6%;">
                        <h2 text-align: center>Create Patient's Account</h2>
                    </div>


                    <label class="animate">
                        <input name="cnic" id="cnic" type="text" required />
                        <div class="label-text">CNIC</div>
                    </label>


                    <div>
                        <label class="animate">
                            <input name="password" id="password" type="password" required />
                            <div class="label-text">Password</div>
                        </label>

                    </div>

                    <label class="animate">
                        <input name="fname" id="fname" type="text" required />
                        <div class="label-text">First Name</div>
                    </label>

                    <label class="animate">
                        <input name="lname" id="lname" type="text" required />
                        <div class="label-text">Last Name</div>
                    </label>

                    <label class="animate">
                        <input name="phone" id="phone" type="phone" required />
                        <div class="label-text">Phone</div>
                    </label>

                    <label class="animate">
                        <input name="email" id="email" type="email" required />
                        <div class="label-text">E-mail</div>
                    </label>

                    <label class="animate">
                        <input
                          name="dob"
                          type="text"
                          onfocus="(this.type='date')"
                          onfocusout="(this.type='text')"
                          required
                        />
                        <div class="label-text">Date of Birth</div>
                      </label>

                    <label class="animate">
                        <input name="address" id="address" type="text" required />
                        <div class="label-text">Address</div>
                    </label>

                    <label class="">
                        <div>
                          <input
                            type="file"
                            id="prescription"
                            name="file"
                            style="padding-left: 12%; padding-top: 3%"
                            accept="image/*"
                          />
                        </div> </label<br>

                    <button class="signUp-btn" type="" value="">Create Account</button>
                </form>

            </div>
        </div>

        <div class="createAccount" style="left: 36%;">
            hello
        </div>
        <div class="createAccount" style="left: 68%;">
            hello
        </div>

    </div>

</body>

</html>