{% load static %}
<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'feed' %}"><i class="fas fa-home"></i>Home</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user"></i>Profile</a>
        </li>

        <li>
            <a onclick="openLabForm()"><i class="glyphicon glyphicon-file" style="padding-right: 9px"></i>Add
        Laboratory</a
      >
    </li>
    <li>
      <a href="#" onclick="openDoctorForm()"
        ><i
          class="glyphicon glyphicon-menu-hamburger"
          style="padding-right: 9px"
        ></i
        >Add Doctor</a
      >
    </li>
    <li>
      <a href="#" onclick="openHospitalForm()"
        ><i class="glyphicon glyphicon-pawn" style="padding-right: 9px"></i>Add
        Hospital</a
      >
    </li>
    <li>
      <a href="#"><i class="fas fa-user"></i>Add Patient</a>
        </li>

        <li>
            <a href="{% url 'about' %}"><i class="glyphicon glyphicon-info-sign" style="padding-right: 9px"></i
        >About Us</a
      >
    </li>
    <li>
      <a href="#"><i class="fas fa-address-book"></i>Contact</a>
        </li>
    </ul>
</div>