{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Analysis By Graph</title>

    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script>
        window.onload = function () {
        
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title:{
                text: "Top 10 diseases in Pakistan"
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "Pakistan",
                dataPoints: [
                    { y: 300878, label: "Corona" },
                    { y: 266455,  label: "Cancer" },
                    { y: 169709,  label: "Blood Pressure" },
                    { y: 158400,  label: "Depression" },
                    { y: 142503,  label: "Hepatitis" },
                    { y: 101500, label: "Brain Tumor" },
                    { y: 97800,  label: "Obesity" },
                    { y: 80000,  label: "Malaria" },
                    { y: 94300,  label: "Dengue" },
                    { y: 83500,  label: "Diabetes" }
                ]
            }]
        });
        chart.render();
        
        }
        </script>


</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{person}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wrapper">


        {% if patient%}
        <!-- Patient's Side bar -->
        {% include 'BackEndApp/patientSidebar.html' %} {%endif%} {%if not patient%}
        <!-- Doctor's Sidebar  -->
        {% include 'BackEndApp/doctorSidebar.html' %} {%endif%}

    </div>

    <div class="usableBody">


        <form action="" style="position: absolute; left: 16%; top: 10%;">
            <label for="city">Choose a city:</label>
            <select name="city" id="city">
              <option value="Lahore">Lahore</option>
              <option value="Karachi">Karachi</option>
              <option value="Quetta">Quetta</option>
              <option value="Islamabad">Islamabad</option>
            </select>

            <label>
                <label>Start Date:</label>
                <input
                  name="startDate"
                  id="startDate"
                  type="text"
                  onfocus="(this.type='date')"
                  onfocusout="(this.type='text')"
                  required
                />
            </label>

            <label>
                <label>End Date:</label>
                <input
                  name="endDate"
                  id="endDate"
                  type="text"
                  onfocus="(this.type='date')"
                  onfocusout="(this.type='text')"
                  required
                />
            </label>
            <br><br>
            
            <input type="submit" value="Submit" style="position: absolute; left: 94%;">
          </form>

        
        <div id="chartContainer" style="position: absolute; height: 50%; width: 70%; top: 30%; left: 14.8%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    </div>

</body>

</html>