<!DOCTYPE html>
<html>

<head>

    <body>
        <form action="/register/" method="GET">
            {%csrf_token%}
            <div>
                <input type="submit" value="Add Patient">
            </div>
        </form>

        <form action="/register/" method="GET">
            {%csrf_token%}
            <div>
                <input type="submit" value="Add Patient">
            </div>
        </form>

        <form action="/register/" method="GET">
            {%csrf_token%}
            <div>
                <input type="submit" value="Add Patient">
            </div>
        </form>

        <form action="/register/" method="GET">
            {%csrf_token%}
            <div>
                <input type="submit" value="Add Patient">
            </div>
        </form>
    </body>
</head>

</html>