<!DOCTYPE html>
<html>

<head>

    <body>
        <form action="" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <div>
                Patient: <input type="text" name="patient" required><br> Doctor: <input type="text" name="doctor" required><br> File: <input type="file" accept="application/pdf image/*" name="file"><br> Description: <input type="text" name="description"><br>                Date: <input type="date" name="date" required><br> Upload
                <input type="submit">
            </div>
        </form>
        {{form.errors}} {% for message in messages %}
        <p id="messages"> {{message}} </p>
        {% endfor %}
    </body>
</head>

</html>