<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>
    <form action="" method="POST">
        {%csrf_token%}
        <div>
            CNIC: <input type="text" name="cnic" required><br> Password: <input type="password" name="password"><br> First Name: <input type="text" name="fname" required><br> Last Name: <input type="text" name="lname" required><br> Phone: <input type="text"
                name="phone" required><br> E-Mail: <input type="email" name="email"><br> Age: <input type="text" name="age"><br> Address: <input type="text" name="address"><br> Photo: <input type="file" accept="image/*" name="photo"><br> Sign Up<input type="submit">
        </div>
    </form>
    {{form.errors}} {% for message in messages %}
    <p id="messages"> {{message}} </p>
    {% endfor %}
</body>

</html>