{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Timeline</title>

    <!-- <link rel="JavaScript" href="login.js"> -->
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body class="bBody">
    <!-- rgb(227, 254, 255); -->
    <nav class="navbar navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">

                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{person}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="wrapper">
        {% include 'BackEndApp/patientSidebar.html' %}

    </div>

    <div class="headerOfTimeline">
        <h1 style="padding-top: 5%; padding-left: 15%; font-size: 80;">MEDICAL TIMELINE</h1>
    </div>

    <div class="w3-container listPresStyle" style="width: 78%; top: 30%; left: 15%; border-radius: 25px;">
        <ul class="w3-ul w3-card-4">
            {%if data%} {% for x in data %}
            <div class="container" style="padding-top:10px; padding-bottom: 10px;">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{x.0}}">{{x.0}}</button>
                <div id="{{x.0}}" class="collapse">
                    <ul>
                        {% for y in x %} {% if y != x.0 %}
                        <div class="" style="margin-left: 6%; padding: 10px;  margin-top: 2%;">

                            <li>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name="q" type="submit" class='btn btn-info' placeholder="Search" value="{{y}} {{x.0}}" />
                                    </div>
                                </form>

                            </li>
                        </div>
                        {% endif %} {% endfor %}
                    </ul>

                </div>
            </div>
        </ul>



        
        {% endfor %} {%endif%} {%if not data%} 
            
            
            
        <ul class="w3-ul w3-card-4">
            <div class="container" style="padding-top:10px; padding-bottom: 10px;">
                <h3>No Record found</h3>
            </div>
        </ul>


            
            
        {%endif%}
    </div>

</body>

</html>