static/images/doctor_profile
static/images/laboratory_profile
static/images/patient_profile
static/images/prescriptions
static/images/reports
static/images/profile
static/images/profile
.idea/
.mypy_cache/
.vscode/
mydatabase/
mysite/